pipeline/API - Staging.json
{
	"name": "BrightSQL",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"typeProperties": {
					"items": {
						"value": "@variables('APIs')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SharpSpring",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@equals(item().bron ,'SharpSpring')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "HTTP request SharpSpring",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"source": {
												"type": "HttpSource",
												"httpRequestTimeout": "00:01:40"
											},
											"sink": {
												"type": "SqlSink",
												"writeBatchSize": 10000
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false,
											"dataIntegrationUnits": 0
										},
										"inputs": [
											{
												"referenceName": "SharpSpring",
												"type": "DatasetReference",
												"parameters": {
													"method": "@item().method",
													"entiteit": "@item().entiteit",
													"flowId": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "BrightSQL",
												"type": "DatasetReference",
												"parameters": {
													"Table": "@item().table"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Gripp",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@equals(item().bron ,'Gripp')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SharpSpring",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "tempCurrentRow",
								"value": {
									"value": "@string(add(float(variables('currentRow')), float(250)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "currentRow",
								"value": {
									"value": "@variables('tempCurrentRow')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "get all projects",
				"type": "Until",
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('currentRow')),2500)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "set TempCurrentRow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getProjects",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "tempCurrentRow",
								"value": {
									"value": "@string(add(float(variables('currentRow')), float(250)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set CurrentRow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set TempCurrentRow",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "currentRow",
								"value": {
									"value": "@variables('tempCurrentRow')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getProjects",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:40"
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": 0,
								"translator": {
									"type": "TabularTranslator",
									"columnMappings": {
										"number": "number",
										"date": "date",
										"timezone_type": "timezone_type",
										"timezone": "timezone",
										"clientreference": "clientreference",
										"isbasis": "isbasis",
										"archived": "archived",
										"workdeliveraddress": "workdeliveraddress",
										"id": "id",
										"createdon.date": "createdon.date",
										"createdon.timezone_type": "createdon.timezone_type",
										"createdon.timezone": "createdon.timezone",
										"updatedon.date": "updatedon.date",
										"updatedon.timezone_type": "updatedon.date.timezone_type",
										"updatedon.timezone": "updatedon.date.timezone",
										"searchname": "searchname",
										"name": "name",
										"deadline.date": "deadline.date",
										"deadline.timezone_type": "deadline.timezone_type",
										"deadline.timezone": "deadline.timezone",
										"startdate.date": "startdate.date",
										"startdate.timezone_type": "startdate.timezone_type",
										"startdate.timezone": "startdate.timezone",
										"addhoursspecification": "addhoursspecification",
										"description": "description",
										"templateset.id": "templateset.id",
										"templateset.searchname": "templateset.searchname",
										"accountmanager.id": "accountmanager.id",
										"accountmanager.searchname": "accountmanager.searchname",
										"phase.id": "phase.id",
										"phase.searchname": "phase.searchname",
										"company.id": "company.id",
										"company.searchname": "company.searchname",
										"identity.id": "identity.id",
										"identity.searchname": "identity.searchname",
										"tags": "tags",
										"employees": "employees",
										"employees_starred": "employees_starred",
										"files": "files",
										"projectlines": "projectlines",
										"viewonlineurl": "viewonlineurl"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Gripp_Projects",
									"type": "DatasetReference",
									"parameters": {
										"currentRow": {
											"value": "@variables('currentRow')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Gripp_Project",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Gripp employee",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "HttpSource",
						"httpRequestTimeout": "00:01:40"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000,
						"preCopyScript": ""
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"username": "username",
							"password": "password",
							"active": "active",
							"email": "email",
							"phone": "phone",
							"mobile": "mobile",
							"street": "street",
							"adresline2": "adresline2",
							"streetnumber": "streetnumber",
							"zipcode": "zipcode",
							"city": "city",
							"country": "country",
							"function": "function",
							"initials": "initials",
							"firstname": "firstname",
							"infix": "infix",
							"lastname": "lastname",
							"screenname": "screenname",
							"id": "id",
							"updatedon": "updatedon.date",
							"updatedon.timezone_type": "updatedon.timezone_type",
							"updatedon,timezone": "updatedon.timezone",
							"searchname": "searchname",
							"timezone_type": "extendedproperties",
							"title": "title",
							"number": "number",
							"dateofbirth": "dateofbirth",
							"emailprivate": "emailprivate",
							"socialsecuritynumber": "socialsecuritynumber",
							"bankaccount": "bankaccount",
							"bankascription": "bankascription",
							"bankcity": "bankcity",
							"notes": "notes",
							"employeesince.date": "employeesince.date",
							"employeesince.timezone_type": "employeesince.timezone_type",
							"employeesince.timezone": "employeesince.timezone",
							"userphoto.id": "userphoto.id",
							"timezone": "userphoto.searchname",
							"role.id": "role.id",
							"role.searchname": "role.searchname",
							"userphoto,searchname": "salutation",
							"tags": "tags"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Gripp_Employees",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Gripp_Employee",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"APIs": {
				"type": "Array",
				"defaultValue": [
					{
						"bron": "Gripp",
						"method": "project.get",
						"table": "Gripp_Project_structured"
					}
				]
			},
			"currentRow": {
				"type": "String",
				"defaultValue": "0"
			},
			"tempCurrentRow": {
				"type": "String",
				"defaultValue": "0"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}