pipeline/API - Staging.json
{
	"name": "API - Staging",
	"properties": {
		"activities": [
			{
				"name": "While - Gripp projects",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "While - Gripp tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('currentRow')),2500)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "set TempCurrentRow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getProjects",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "tempCurrentRow",
								"value": {
									"value": "@string(add(float(variables('currentRow')), float(250)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set CurrentRow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set TempCurrentRow",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "currentRow",
								"value": {
									"value": "@variables('tempCurrentRow')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getProjects",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:40"
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": 0,
								"translator": {
									"type": "TabularTranslator",
									"columnMappings": {
										"number": "number",
										"date": "date",
										"timezone_type": "timezone_type",
										"timezone": "timezone",
										"clientreference": "clientreference",
										"isbasis": "isbasis",
										"archived": "archived",
										"workdeliveraddress": "workdeliveraddress",
										"id": "id",
										"createdon.date": "createdon.date",
										"createdon.timezone_type": "createdon.timezone_type",
										"createdon.timezone": "createdon.timezone",
										"updatedon.date": "updatedon.date",
										"updatedon.timezone_type": "updatedon.date.timezone_type",
										"updatedon.timezone": "updatedon.date.timezone",
										"searchname": "searchname",
										"name": "name",
										"deadline.date": "deadline.date",
										"deadline.timezone_type": "deadline.timezone_type",
										"deadline.timezone": "deadline.timezone",
										"startdate.date": "startdate.date",
										"startdate.timezone_type": "startdate.timezone_type",
										"startdate.timezone": "startdate.timezone",
										"addhoursspecification": "addhoursspecification",
										"description": "description",
										"templateset.id": "templateset.id",
										"templateset.searchname": "templateset.searchname",
										"accountmanager.id": "accountmanager.id",
										"accountmanager.searchname": "accountmanager.searchname",
										"phase.id": "phase.id",
										"phase.searchname": "phase.searchname",
										"company.id": "company.id",
										"company.searchname": "company.searchname",
										"identity.id": "identity.id",
										"identity.searchname": "identity.searchname",
										"tags": "tags",
										"employees": "employees",
										"employees_starred": "employees_starred",
										"files": "files",
										"projectlines": "projectlines",
										"viewonlineurl": "viewonlineurl"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Gripp_Projects",
									"type": "DatasetReference",
									"parameters": {
										"currentRow": {
											"value": "@variables('currentRow')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Gripp_Project",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Gripp employee",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "While - Gripp projects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "HttpSource",
						"httpRequestTimeout": "00:01:40"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000,
						"preCopyScript": ""
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"username": "username",
							"password": "password",
							"active": "active",
							"email": "email",
							"phone": "phone",
							"mobile": "mobile",
							"street": "street",
							"adresline2": "adresline2",
							"streetnumber": "streetnumber",
							"zipcode": "zipcode",
							"city": "city",
							"country": "country",
							"function": "function",
							"initials": "initials",
							"firstname": "firstname",
							"infix": "infix",
							"lastname": "lastname",
							"screenname": "screenname",
							"id": "id",
							"updatedon": "updatedon.date",
							"updatedon.timezone_type": "updatedon.timezone_type",
							"updatedon,timezone": "updatedon.timezone",
							"searchname": "searchname",
							"timezone_type": "extendedproperties",
							"title": "title",
							"number": "number",
							"dateofbirth": "dateofbirth",
							"emailprivate": "emailprivate",
							"socialsecuritynumber": "socialsecuritynumber",
							"bankaccount": "bankaccount",
							"bankascription": "bankascription",
							"bankcity": "bankcity",
							"notes": "notes",
							"employeesince.date": "employeesince.date",
							"employeesince.timezone_type": "employeesince.timezone_type",
							"employeesince.timezone": "employeesince.timezone",
							"userphoto.id": "userphoto.id",
							"timezone": "userphoto.searchname",
							"role.id": "role.id",
							"role.searchname": "role.searchname",
							"userphoto,searchname": "salutation",
							"tags": "tags"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Gripp_Employees",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Gripp_Employee",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "While - Gripp hours",
				"type": "Until",
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('currentRowHour')),30000)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "set TempCurrentRowHour",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getHours",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "tempCurrentRowHour",
								"value": {
									"value": "@string(add(float(variables('currentRowHour')), float(250)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set CurrenRowHour",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set TempCurrentRowHour",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "currentRowHour",
								"value": {
									"value": "@variables('tempCurrentRowHour')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getHours",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:40"
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": 0,
								"translator": {
									"type": "TabularTranslator",
									"columnMappings": {
										"date": "date",
										"timezone_type": "timezone_type",
										"timezone": "timezone",
										"amount": "amount",
										"description": "description",
										"authorizedon.date": "authorizedon.date",
										"authorizedon.timezone_type": "authorizedon.timezone_type",
										"authorizedon.timezone": "authorizedon.timezone",
										"definitiveon.date": "definitiveon.date",
										"definitiveon.timezone_type": "definitiveon.timezone_type",
										"definitiveon.timezone": "definitiveon.timezone",
										"id": "id",
										"createdon.date": "createdon.date",
										"createdon.timezone_type": "createdon.timezone_type",
										"createdon.timezone": "createdon.timezone",
										"updatedon.date": "updatedon.date",
										"updatedon.timezone_type": "updatedon.timezone_type",
										"updatedon.timezone": "updatedon.timezone",
										"searchname": "searchname",
										"status.id": "status.id",
										"status.searchname": "status.searchname",
										"employee.id": "employee.id",
										"employee.searchname": "employee.searchname",
										"offerprojectbase.id": "offerprojectbase.id",
										"offerprojectbase.searchname": "offerprojectbase.searchname",
										"offerprojectline.id": "offerprojectline.id",
										"offerprojectline.searchname": "offerprojectline.searchname",
										"authorizedby.id": "authorizedby.id",
										"authorizedby.searchname": "authorizedby.searchname",
										"definitiveby.id": "definitiveby.id",
										"definitiveby.searchname": "definitiveby.searchname",
										"task.id": "task.id"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Gripp_Hour",
									"type": "DatasetReference",
									"parameters": {
										"firstRow": {
											"value": "@variables('currentRowHour')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Gripp_Hours",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "While - Gripp tasks",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "While - Gripp hours",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('currentRowTask')),10000)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "set TempCurrentRowTask",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getTasks",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "tempCurrentRowTask",
								"value": {
									"value": "@string(add(float(variables('currentRowTask')), float(250)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set CurrentRowTask",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set TempCurrentRowTask",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "currentRowTask",
								"value": {
									"value": "@variables('tempCurrentRowTask')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getTasks",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:40"
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": 0,
								"translator": {
									"type": "TabularTranslator",
									"columnMappings": {
										"content": "content",
										"number": "number",
										"estimatedhours": "estimatedHours",
										"description": "description",
										"id": "id",
										"createdon.date": "createdon.date",
										"createdon.timezone_type": "createdon.timezone_type",
										"createdon.timezone": "createdon.timezone",
										"searchname": "searchname",
										"company.id": "company.id",
										"company.searchname": "company.searchname",
										"offerprojectbase.id": "offerprojectbase.id",
										"offerprojectbase.searchname": "offerprojectbase.searchname",
										"offerprojectline.id": "offerprojectline.id",
										"offerprojectline.searchname": "offerprojectline.searchname",
										"files": "files",
										"calendaritems": "calendaritems"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Gripp_Tasks",
									"type": "DatasetReference",
									"parameters": {
										"currentRow": {
											"value": "@variables('currentRowTask')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Gripp_Task",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"APIs": {
				"type": "Array",
				"defaultValue": [
					{
						"bron": "Gripp",
						"method": "project.get",
						"table": "Gripp_Project_structured"
					}
				]
			},
			"currentRow": {
				"type": "String",
				"defaultValue": "0"
			},
			"tempCurrentRow": {
				"type": "String",
				"defaultValue": "0"
			},
			"currentRowHour": {
				"type": "String",
				"defaultValue": "0"
			},
			"tempCurrentRowHour": {
				"type": "String",
				"defaultValue": "0"
			},
			"currentRowTask": {
				"type": "String",
				"defaultValue": "0"
			},
			"tempCurrentRowTask": {
				"type": "String",
				"defaultValue": "0"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}