pipeline/BrightSQL.json
{
	"name": "BrightSQL",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"typeProperties": {
					"items": {
						"value": "@variables('APIs')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetDataFromAPI",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SharpSpring",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:40"
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "SharpSpring",
									"type": "DatasetReference",
									"parameters": {
										"method": "@item().method",
										"entiteit": "@item().entiteit",
										"flowId": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BrightSQL",
									"type": "DatasetReference",
									"parameters": {
										"Table": "@item().table"
									}
								}
							]
						},
						{
							"name": "SharpSpring",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@{item().bron} == 'SharpSpring'",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetGrippData",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Gripp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:40"
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "Gripp",
									"type": "DatasetReference",
									"parameters": {
										"flowId": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BrightSQL",
									"type": "DatasetReference",
									"parameters": {
										"Table": "@item().table"
									}
								}
							]
						},
						{
							"name": "Gripp",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@{item().bron} == 'Gripp'",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"APIs": {
				"type": "Array",
				"defaultValue": [
					{
						"bron": "SharpSpring",
						"method": "getUserProfiles",
						"entiteit": "userProfile",
						"table": "SharpSpring_UserProfile"
					},
					{
						"bron": "SharpSpring",
						"method": "getCampaigns",
						"entiteit": "campaign",
						"table": "SharpSpring_Campaign"
					}
				]
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}