pipeline/BrightSQL.json
{
	"name": "BrightSQL",
	"properties": {
		"activities": [
			{
				"name": "GetDataFromAPI",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "HttpSource",
						"httpRequestTimeout": "00:01:40"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"id": "id",
							"firstName": "firstName",
							"lastName": "lastName",
							"displayName": "displayName",
							"emailAddress": "emailAddress",
							"isActive": "isActive",
							"isReseller": "isReseller",
							"userTimezone": "userTimezone"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SharpSpring_Users",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureBlob1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "InsertIntoSA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetDataFromAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"id": "id",
							"firstName": "firstName",
							"lastName": "lastName",
							"displayName": "displayName",
							"emailAddress": "emailAddress",
							"isActive": "isActive",
							"isReseller": "isReseller",
							"userTimezone": "userTimeZone"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureBlob1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BrightSQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "BrightSQL",
				"type": "ExecuteSSISPackage",
				"dependsOn": [
					{
						"activity": "InsertIntoSA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"packageLocation": {
						"packagePath": "brightSQL/Bright ETL/Package.dtsx"
					},
					"loggingLevel": "Basic",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"typeProperties": {
					"items": {
						"value": "@variables('APIs')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"dataset": {
									"referenceName": "BrightSQL",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"APIs": {
				"type": "Array",
				"defaultValue": [
					{
						"name": "A"
					},
					{
						"name": "B"
					},
					{
						"name": "C"
					}
				]
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}